html, body, figure, figcaption, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
}

body {
  font-family: sans-serif;
  text-align: center;
}

.logo {
  width: 310px;
  height: 110px;
}

h3.length {
  color: #942C8D;
  font-size: 24px;
}

h3 span#length {
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  background: #5A5A5A;
  color: white;
  font-size: 32px;
}

figure {
  display: inline-block;
  border: 10px solid #5A5A5A;
  border-radius: 10px;
  background-color: #FAF6FF;
}

.bold-purple {
  font-size: 28px;
  color: #942C8D;
}

.message {
  font-size: 22px;
  color: #5A5A5A;
}

ul {
}

ul:after {
  content: "";
  clear: both;
  display: block;
}

li {
  float: left;
  width: 25px;
  height: 20px;
}

.apple {
  background: #FFCC00;
  border-radius: 7px;
}

.beer, .bourbon, .moonshine, .vodka, .martini {
  background-image: url("../images/alcohol.png");
}

.snake {
  background: #942C8D;
  border-radius: 7px;
}

.drunk-snake {
  height: 19px;
  width: 23px;
  background: #942C8D;
  border-radius: 7px;
  border-left: 1px solid yellow;
  border-right: 1px solid yellow;
  border-bottom: 1px solid yellow;
  border-top: 1px solid yellow;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    0%   {background: red; opacity: 0.7;
    -ms-transform: rotate(10deg); -webkit-transform: rotate(10deg);
    transform: rotate(10deg)}
    25%  {background: yellow; opacity: 0.7;
    -ms-transform: rotate(-10deg); -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg)}
    50%  {background: blue; opacity: 0.7;
    -ms-transform: rotate(10deg); -webkit-transform: rotate(10deg);
    transform: rotate(10deg)}
    75%  {background: green; opacity: 0.7;
      -ms-transform: rotate(-10deg); -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg)}
    100% {background: red; opacity: 0.7;
      -ms-transform: rotate(10deg); -webkit-transform: rotate(10deg);
      transform: rotate(10deg)}
}

/* Standard syntax */
@keyframes myfirst {
    0%   {background: red; opacity: 0.7;
      -ms-transform: rotate(10deg); -webkit-transform: rotate(10deg);
      transform: rotate(10deg)}
    25%  {background: yellow; opacity: 0.7;
      -ms-transform: rotate(-10deg); -webkit-transform: rotate(-10deg);
      transform: rotate(-10deg)}
    50%  {background: blue; opacity: 0.7;
      -ms-transform: rotate(10deg); -webkit-transform: rotate(10deg);
    transform: rotate(10deg)}
    75%  {background: green; opacity: 0.7;
      -ms-transform: rotate(-10deg); -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg)}
    100% {background: red; opacity: 0.7;
      -ms-transform: rotate(10deg); -webkit-transform: rotate(10deg);
      transform: rotate(10deg)}
}
