html, body, figure, figcaption, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
}

.background {
  background-image: url("../images/snake_skin_background.png");
}

body {
  font-family: sans-serif;
  text-align: center;
}

.logo {
  font-size: 70px;
  width: 310px;
  height: 110px;
}

h3.length {
  color: #5A5A5A;
  font-size: 18px;
}

h3 span#length {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background: #5A5A5A;
  color: white;
  font-size: 24px;
}

figure {
  display: inline-block;
  border: 10px solid #5A5A5A;
  border-radius: 10px;
  background-color: white;
}

.bold-purple {
  font-size: 28px;
  color: #942C8D;
}

.message {
  font-size: 22px;
  color: #5A5A5A;
}

ul {
}

ul:after {
  content: "";
  clear: both;
  display: block;
}

li {
  float: left;
  width: 25px;
  height: 19px;
}

.apple {
  background: yellow;
  border-radius: 7px;
  z-index: 99;
}

.beer, .bourbon, .moonshine, .vodka, .martini {
  background-image: url("../images/alcohol.png");
  z-index: -1;
}

.snake {
  background: #942C8D;
  border-radius: 7px;
}

.drunk-snake {
  background: #942C8D;
  border-radius: 7px;
  border-left: 5px solid yellow;
  border-right: 5px solid yellow;
  border-bottom: 2px solid yellow;
  border-top: 2px solid yellow;
}
