html, body, figure, figcaption, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
}

.background {
  background-image: url("../images/snake_skin_background.png");
}

body {
  font-family: sans-serif;
  text-align: center;
}

.logo {
  font-size: 70px;
  width: 310px;
  height: 110px;
}

h3.length {
  color: #4A4A4A;
  font-size: 18px;
}

h3 span#length {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background: #4A4A4A;
  color: white;
  font-size: 24px;
}

figure {
  display: inline-block;
  border: 10px solid #4A4A4A;
  border-radius: 10px;
  background-color: white;
}

.bold-purple {
  font-size: 28px;
  color: #942C8D;
}

.message {
  font-size: 22px;
  color: #4A4A4A;
}

ul {
}

ul:after {
  content: "";
  clear: both;
  display: block;
}

li {
  float: left;
  width: 20px;
  height: 20px;
}

.apple {
  background: yellow;
}

.snake {
  background: #942C8D;
}
